{% block quote %}
  <div class="ffw-block-quote-main-wrapper">
    {% if quote %}
      <div class="block-quote">
        <blockquote>
          {{ quote }}
        </blockquote>
      </div>
    {% endif %}
  </div>
{% endblock %}
